<a href="https://colab.research.google.com/github/divyaseri/INFO5731_FALL2020/blob/master/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# import numpy library to use randint
import numpy

#generate random number
randomnum = numpy.random.randint(1,100,size = 12)
print("List: {0}".format(randomnum))

#sort the numbers in ascending order
ascending_order = sorted(randomnum, reverse = False)
print("List after sorted in ascending order: {0}".format(ascending_list))

#sort the numbers in descending order
descending_order = sorted(randomnum,reverse = True)
print("List after sorted in descending order: {0}".format(descending_list))

#Average for the group
print("Average of elements in the list: {0}".format(sum(randomnum)/len(randomnum)))

List: [58 82 13 86 71 12 83 32 11 64 12 89]
List after sorted in ascending order: [4, 13, 18, 20, 22, 29, 31, 37, 40, 70, 77, 85]
List after sorted in descending order: [85, 77, 70, 40, 37, 31, 29, 22, 20, 18, 13, 4]
Average of elements in the list: 51.083333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
#import nltk
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
# 1. enter two sentences
first_string = input("Enter your first sentence: ")
second_string = input("Enter your second sentence: ")

Enter your first sentence: Are you learning python?
Enter your second sentence: Yes! I am learning python

In [ ]:
# 2. Make each sentence into a list
string1 = word_tokenize(first_string)
string2 = word_tokenize(second_string)
print("The words in the sentences are : \n{0} \n{1}".format(string1,string2))

The words in the sentences are :
['Are', 'you', 'learning', 'python', '?']
['Yes', '!', 'I', 'am', 'learning', 'python']

In [ ]:
# 3. list of words that occur in both sentences.
common_in_sets(string1, string2)

The common elements are: {'learning', 'python'}

In [ ]:
# 4. Remove any punctuation from the sentence 
getVals1 = list([val for val in first_string 
               if val.isalpha() or val.isnumeric()])
res_1 = "".join(getVals1)
getVals2 = list([val for val in second_string
               if val.isalpha() or val.isnumeric()])
res_2 = "".join(getVals2)
print ("Sentence after removing punctuations: \n{0} \n{1}".format(res_1, res_2))

Sentence after removing punctuations:
Areyoulearningpython
YesIamlearningpython

In [ ]:
# 5. Count the number of vowels in the sentences
lc1 = first_string.lower()
lc2 = second_string.lower()
vowel_count1 = {}
vowel_count2 = {}
for vowel in "aeiou":
    countvowels_1 = lc1.count(vowel)
    countvowels_2 = lc2.count(vowel)
    vowel_count1[vowel] = countvowels_1
    vowel_count2[vowel] = countvowels_2
print("Count of vowels in sentence 1: {0} \nCount of vowels in sentence 2: {1} ".format(vowel_count1, vowel_count2))

Count of vowels in sentence 1: {'a': 2, 'e': 2, 'i': 1, 'o': 2, 'u': 1}
Count of vowels in sentence 2: {'a': 2, 'e': 2, 'i': 2, 'o': 1, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
pi=3.14
print("r","\t","V","\n")
for r in range(1, 11):
    vol=(4.0/3.0)*pi*r*r*r
    print(r,"\t",vol,"\n")

r 	 V

1 	 4.1866666666666665

2 	 33.49333333333333

3 	 113.03999999999998

4 	 267.94666666666666

5 	 523.3333333333334

6 	 904.3199999999998

7 	 1436.0266666666666

8 	 2143.5733333333333

9 	 3052.08

10 	 4186.666666666667

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing.csv

In [ ]:
import pandas as pd

In [ ]:
# Question 1
import io
housingdata_df = pd.read_csv(io.BytesIO(uploaded['Assignment1_denton_housing.csv']))
hd_df = housingdata_df[[ 'year','title_field', 'value']].groupby(['title_field']).get_group('Occupied Housing Units')
sorted_df = hd_df.sort_values(by=['year'])
sorted_df['difference'] = sorted_df['value'].shift(-1) - sorted_df['value']
final_df = sorted_df.sort_values(by=['difference'])
final_df.dropna()

    year             title_field  value  difference
20  2008  Occupied Housing Units  36711      -795.0
14  2010  Occupied Housing Units  41007      -303.0
11  2011  Occupied Housing Units  40704      1404.0
8   2012  Occupied Housing Units  42108      1565.0
5   2013  Occupied Housing Units  43673      2622.0
17  2009  Occupied Housing Units  35916      5091.0

In [ ]:
# Question 2
occupied_sum_df = housingdata_df.loc[housingdata_df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])['value'].values.tolist()
vacant_sum_df = housingdata_df.loc[housingdata_df['title_field'] == 'Vacant Housing Units'].sort_values(by = ['year'])['value'].values.tolist()
sum_df = housingdata_df.loc[housingdata_df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()

percent_vacant = [str((i/j)*100)+' %' for i,j in zip(vacant_sum_df,sum_df)]
percent_occupied = [str((i/j)*100)+' %' for i,j in zip(occupied_sum_df,sum_df)]

housingdata_df = pd.concat([pd.DataFrame(housingdata_df.loc[housingdata_df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])['year'].values.tolist(),
                             columns=['Year']),
                pd.DataFrame(percent_vacant,columns =['vacant housing units']),
                pd.DataFrame(percent_occupied,columns =['occupied housing units'])],axis=1)
print(housingdata_df)

   Year vacant housing units occupied housing units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [ ]:
# Question 3
import io
housingdata_df = pd.read_csv(io.BytesIO(uploaded['Assignment1_denton_housing.csv']))
highest_occupied = housingdata_df.loc[housingdata_df['title_field'] == 'Occupied Housing Units','value'].max()
highest_vacant = housingdata_df.loc[housingdata_df['title_field'] == 'Vacant Housing Units','value'].max()
occupied_df = housingdata_df.loc[(housingdata_df['title_field'] == 'Occupied Housing Units') & (housingdata_df['value'] == highest_occupied)]
vacant_df = housingdata_df.loc[(housingdata_df['title_field'] == 'Vacant Housing Units') & (housingdata_df['value'] == highest_vacant)]
housingdata_df = pd.concat([vacant_df,occupied_df])
print(housingdata_df[['title_field','year','value']])

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [ ]:
# Question 4
from scipy.stats import hmean
print("The harmonic mean of total housing units: {0}".format(hmean(sum_df)))

The harmonic mean of total housing units: 44398.28543969185